.homepageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10px;
  font-size: 17px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: 300px;
  width: 100%;
  color: azure;
}

.App {
  display: flex;
}

.homepageH1 {
  margin-bottom: 40px;
  font-size: 30px;
}

.logoMini {
  cursor: pointer;
  display: block;
  width: 50%;
  height: 50px;
  max-width: 320px;
  margin: 20px auto;
  color: transparent;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}


.buttonAction {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  width: 105px;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  cursor: pointer;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.button_login {
  background-color: #f7e7be;
}

.button_play {
  background-color: #fe9e84;
}

.buttonAction:hover .button_top,
.buttonAction:focus .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}


.buttonAction:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/* .color {
    color: #009f92;
    color: #f7e7be;
    color: #005366;
    color: #00777b;
    color: #fe9e84;
   } */