.voteGamePage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: 60vh;
  background-color: cornflowerblue;
}

.voteGamePage__wait-text {
  align-self: center;
  text-align: center;
  font-size: 40px;
}

.voteGamePage__wait-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voteGamePage__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.voteGamePage__title {
  font-size: 40px;
}

.voteGamePage__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 10px;
  background-color: #f7e7be;
  border: 2px solid #000;
  box-shadow: 0 0.4rem #000;
  border-radius: 0.75em;
}

.voteGamePage__punchBox {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 0.75em;
  background-color: #fff;
}

.voteGamePage__punch {
  color: #000;
}