.message {
    margin-bottom: 10px;
}

.message__username {
    padding-left: 5px;
}

.eachMessage {
    background-color: #141b2d !important;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    overflow-wrap: anywhere;
}

.time {
    display: flex;
    justify-content: center;
    background-color: #141b2d !important;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    width: 25%;
    align-self: end;
}

.newMessage {
    display: flex;
    flex-direction: row;
}