.input-wrapper input {
    background-color: #eee;
    border: 2px solid #333;
    padding: 1rem;
    font-size: 1rem;
    width: 290px;
    height: 50px;
    border-radius: 0.75em;
    color: black;
    font-weight: bold;
    box-shadow: 0 0.4rem #333;
    cursor: pointer;
}

.input-wrapper input:focus {
    outline-color: lightcoral;
}

#usernameText {
    font-weight: bold;
}