.olList {
    background-color: #f7e7be;
    color: #000000;
    border: solid 4px #333;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px #333;
    list-style-type: none;
    width:600px;
  }

  .liItem:nth-child(2n) {
    background-color: #009f92;
    border-radius: 5px;
    color:azure;
  }

  .liItem {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
  }


