.chatDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 500px;
}

.header {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    font-size: 30px;
}

.allMessages {
    flex-direction: column;
    flex-grow: 2;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #00777b !important;
    border-radius: 20px;
    justify-content: flex-end;
    overflow-y: scroll;
    max-height: 72vh;
    border: 10px solid #00777b !important;
}

.messageInputForm {
    display: flex;
    justify-content: center;
    gap: 10px;
}