.chatDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
}

.header {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.allMessages {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-right: 20px;
    background: #00777b !important;
    border-radius: 5px;
    justify-content: flex-end;
    overflow-y: scroll;
    max-height: 78vh;
    border: 10px solid #00777b !important;
}

.messageInputForm {
    display: flex;
    margin-top: 10px;
}