.chatDiv {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.header {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    font-size: 30px;
}

.allMessages, .allLightMessages {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 2;
    margin-bottom: 20px;
    background: #00777b !important;
    border-radius: 20px;
    align-self: center;
    overflow-y: scroll;
    max-height: 72vh;
    padding: 10px !important;
    width: 25vw;
}

.allLightMessages {
    background: rgba(240, 248, 255, 0.3) !important;
    padding: 10px !important;
}

.messageInputForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.closeChat {
    margin-left: 10px;
    font-size: large;
}

.closeChat:hover {
    cursor: pointer;
}

.title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: azure;
    font-size: 30px;
    font-weight: 900;
    filter: drop-shadow(0px 1px 0px #333) drop-shadow(0px 2px 0px #333) drop-shadow(0px 3px 0px #333);
}

.emojiTable {
    display: flex;
    justify-content: center;
    bottom: 80px;
    right: 65px;
}