.profile {
  padding-top: 30px;
  display: flex;
  height: 80vh;
}

.bio {
  display: flex;
  margin-bottom: 3vh;
}

.profile-bio {
  margin-top: 10px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  margin-left: 7vw;
}

.profile-friens {
  overflow-y: scroll;
  /* height: 80vh; */
}

#change {
  margin-top: 15px;
  width: 120px;
}

.liFriend {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 25vw;
  background-color: rgba(240, 248, 255, 0.3);
  padding: 1vw;
  border-radius: 8px;
}

.liFriend:not(:last-child) {
  margin-bottom: 2vh;
}

.liFriend:first-child {
  margin-top: 2vh;
}

.chatFriends {
  width: 1.7vw;
  margin-left: auto;
  filter: drop-shadow(0.5px 0.5px 0 navy) drop-shadow(-0.5px 0.5px 0 navy) drop-shadow(0.5px -0.5px 0 navy) drop-shadow(-0.5px -0.5px 0 navy);
}

.deleteFriends {
  width: 1.3vw;
  margin-left: 1.3vw;
  filter: drop-shadow(0.5px 0.5px 0 navy) drop-shadow(-0.5px 0.5px 0 navy) drop-shadow(0.5px -0.5px 0 navy) drop-shadow(-0.5px -0.5px 0 navy);
}

.edit {
  margin-top: 20px;
}

.wrong-pass {
  margin-bottom: 1vh;
  color: red;
}

.succesfully-changed {
  color: green;
}

.chatProfile {
  width: 45vw;
  /* height: ; */
  margin-left: auto;
  margin-right: 7vw;
}
