.gamefriends__title {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 7px;
    font-size: 30px;
}

.gamefriends__wrapper {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
}

.gamefriends__friend {
    width: 17%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.participantlogin {
    display: flex;
    align-items: center;
    padding: 5px
}

.badgeStatus {
    width: 40px;
}

.badgeAddFriend {
    width: 40px;
    cursor: pointer;
}
